* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 10% 50px 10% 30% 110px 100px 100px 120px auto;
    grid-template-areas: ". logo logo2 . nouv dec comm cont .";
    grid-template-rows: 50px;
    font-family: "poppins";
    position: sticky;
    top: 0;
}

#logo {
    grid-area: logo;
    padding: 8px;
}

#logo:hover {
    animation: logo-animation 0.5s ease-in;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.Jadoo {
    grid-area: logo2;
    line-height: 0px;
}

.Nouv {
    grid-area: nouv;
}

.Dec {
    grid-area: dec;
}

.Comm {
    grid-area: comm;
}

.Cont {
    grid-area: cont;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.85em;
    margin: auto;
}

.welcome {
    background-image: url(images/illustration_principale.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    object-fit: cover;
    padding: 100px;
}

h3 {
    color: rgb(223, 102, 89);
    font-size: 1.5em;
    font-family: "poppins";
    margin-bottom: 50px;
}

.welcome h1 {
    color: white;
    font-size: 5.4em;
    font-family: "volkhov";
}

p {
    color: silver;
    font-family: "poppins";
    line-height: 30px;
    margin-top: 30px;
}

.test {
    max-width: 565px;
}

.button {
    background-color: #f1a501;
    height: 50px;
    font-family: "OpenSans";
    position: relative;
    top: 20px;
    border-radius: 10px;
    border-style: none;
}

.button span {
    padding: 0 30px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.test > img {
    position: relative;
    bottom: 30px;
}

.new {
    padding: 150px 20% 150px 20%;
    background: url("Images/decor_1.svg") no-repeat;
    background-position: top right;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.new h2 {
    font-family: "poppins";
    text-align: center;
    color: grey;
    font-size: 1.2em;
    width: 100%;
    flex: 1 0 100%;
}

.new h1 {
    text-align: center;
    margin: 20px 0 50px 0;
    font: 3em "volkhov";
    width: 100%;
    font-weight: bold;
}

figcaption {
    font-family: "poppins";
    border-radius: 0 0 20px 20px;
}

.new article {
    border-radius: 20px;
}

.new img {
    border-radius: 20px 20px 0 0;
}

.card1 {
    box-shadow: 0 0 16px #0000002e;
}

.titlerelou {
    width: 100%;
}

.card1 {
    width: 280px;
}

.card2 {
    width: 200px;
    margin-top: 100px;
    box-shadow: 0;
}

.cards-pict2 {
    padding: 0px 20px 20px 20px;
}

figcaption {
    padding: 20px;
}
