*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    display:grid;
    grid-template-columns: 10% 50px 10% 30% 110px 100px 100px 120px auto;
    grid-template-areas: ". logo logo2 . nouv dec comm cont .";
    grid-template-rows: 50px;
    font-family: 'poppins';
}

#logo{
    grid-area: logo;
    padding:8px;
}

.Jadoo{
    grid-area: logo2;
    line-height: 0px;
}

.Nouv{
    grid-area: nouv;
}

.Dec{
    grid-area: dec;
}

.Comm{
    grid-area: comm;
}

.Cont{
    grid-area: cont;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size: 0.85em;
    margin:auto;
}

.welcome{
    background-image: url(images/illustration_principale.jpg);
    background-size : 100% 100%;
    width:100%;
    height:800px;
    object-fit: cover;
}

h3{
    color:salmon;
    font-size: 1.5em;
}

h1{
    color:white;
    font-size: 3.5em;
    font-family: "volkhov";
}

p{
    color:white;
}

.test{
    padding: 100px;
    text-align: justify;
    padding-right: 500px;
    
}
