* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

img {
    object-fit: cover;
    width: 100%;
    height:100%;
}

#logo{
    width:98%;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 200;
}

nav {
    display: grid;
    grid-template-columns: 10% 50px 100px 30% 110px 100px 100px 120px auto;
    grid-template-areas: ". logo logo2 . nouv dec comm cont .";
    grid-template-rows: 50px;
    font-family: "poppins";
}

.burger{
    object-fit: unset;
    width:unset;
    height:unset;
    margin:auto;
    grid-area: burger;
    display:none;

}

#logo {
    grid-area: logo;
    padding: 8px;
}

#logo:hover {
    animation: logo-animation 0.5s ease-in;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }
}

.Jadoo {
    grid-area: logo2;
    line-height: 0px;
}

.Nouv {
    grid-area: nouv;
}

.Dec {
    grid-area: dec;
}

.Comm {
    grid-area: comm;
}

.Cont {
    grid-area: cont;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.85em;
    margin: auto;
}

nav a:hover{
    text-decoration: underline;
}

.welcome {
    background-image: url(images/illustration_principale.jpg);
    background-size: cover;
    width: 100%;
    object-fit: cover;
    padding: 100px;
}

h3 {
    color: rgb(223, 102, 89);
    font-size: 1em;
    font-family: "poppins";
    margin-bottom: 20px;
}

button {
    box-shadow: 0px 40px 30px 30px rgba(255, 196, 0, 0.1);
}

.welcome h1 {
    color: white;
    font-size: 4em;
    font-family: "volkhov";
}

p {
    color: #bfc0cd;
    font-family: "poppins";
    line-height: 25px;
    margin-right: 170px;
    margin-top: 30px;
    font-size: 0.8em;
}

.textsection{
    max-width: 565px;
}

.traitorange{
    background: url(images/souligne_rose.svg) no-repeat;
    display:block;
    background-position: bottom left;
    line-height: 70px;
}

.chefsection h1 span{
    background-size: 250px;
    line-height: 40px;
}

.imgresponsive{
    display: none;
}

.button {
    background-color: #f1a501;
    padding: 15px 20px;
    font-family: "OpenSans";
    border-radius: 10px;
    border-style: none;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    
    transform: scale(1.10);
}

.button {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.textsection > img {
    position: relative;
    bottom: 30px;
}

.new {
    padding: 100px 10%;
    background: url("images/decor_1.svg") no-repeat;
    background-position-x:98%;
    background-position-y:2%;
    text-align: center;
}

.new h2 {
    font-family: "poppins";
    text-align: center;
    color: grey;
    font-size: 0.9em;
    width: 100%;
    flex: 1 0 100%;
}

.new h1 {
    text-align: center;
    margin: 10px 0 50px 0;
    font: 2.5em "volkhov";
    width: 100%;
    font-weight: bold;
}

figcaption {
    font-family: "poppins";
    border-radius: 0 0 20px 20px;
}

.testcard{
    position:relative;
}

.new article {
    border-radius: 20px;
    background-color: white;
}

.new img {
    border-radius: 20px 20px 0 0;
}

.card1 {
    box-shadow: 0 10px 35px 1px #8f8f8f2e;
    width: 220px;
    background-color: white;
    z-index: 1;
    margin-right: 30px;
}

.boxcard1 img:last-child{
    position: absolute;
    z-index: 0;
    right: -30px;
    width: 107px;
    height: 231px;
    top: 73px;
    position:absolute;

}

.titlerelou {
    width: 100%;
}

.card2 {
    width: 199px;
    margin-top: 100px;
}

.carre{
    width: 50px;
    height: 50px;
}

.redbox{
    position: absolute;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    z-index: 0;
    bottom:-15px;
    left:-20px;
    opacity: 0;
    transition: 0.5s;
}

.card2:hover .redbox{
    opacity: 1;
    transform: rotate(1deg);
}

.boxcard2 article{
    position:relative;
    z-index: 1;
}

.absolute{
    position:relative;
}

.card1:nth-child(3){
    position:relative;
}

.new figure{
    background-color: white;
    z-index: 1;
    border-radius: 20px;
}

.decoration{
    position:relative;
    height:50px;
}

.card2 figure{
    border-radius: 20px;
    position:relative;
}



.cards-pict2 {
    padding: 0px 30px 15px 30px;
}

figcaption {
    padding: 20px;
    color: grey;
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
}

.boxcard1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: auto;
    position:relative;
}

.boxcard2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.card2:hover{
    box-shadow: 0 10px 35px 1px #8f8f8f2e;
    transition: 0.8s;
}

.card2 h3 {
    color: #494949;
    font-size: 1em;
    margin-bottom: 20px;
}

.chefsection {
    background: url(images/illustration_chef.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    padding: 100px;
    position: relative;
    padding-bottom: 350px;
}

.video {
    border-radius: 20px;
    width: 250px;
    position:relative;
}

.video a{
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    top: 40px;
    left: 105px;
}

.video img {
    border-radius: 20px;
}

.video > a > img {
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.video > a > img:hover {
    transform: scale(1.10);
    
}

.chefsection h1 {
    color: white;
    font-size: 3em;
    font-family: "volkhov";
    max-width: 700px;
    margin-top: 50px;
}

.chefsection p {
    color: white;
    font-size: 0.8em;
    max-width: 400px;
}

.transiction {
    position: absolute;
    bottom: -300px;
    left: 0;
    white-space: nowrap;
}

.transiction img {
    width: 430px;
    margin-right: -4px;
}

.lastsection {
    background: url(images/illustration_commander.jpg);
    background-size: cover;
    padding: 400px 10% 100px;
}

.lastsection figure {
    display: flex;
}

.lastsection h3 {
    color: #5e6282;
}

.lastsection h2 {
    color: #14183e;
    width: 365px;
    font-size: 2.9em;
    font-family: "volkhov";
}

.lastsection h2 span {
    color: rgb(223, 102, 89);
}

.lastsection figure {
    width: 60px;
    height: 60px;
    margin: 40px;
    margin: 40px 0 0;
}

.lastsection figure img {
    margin-right: 20px;
}

.lastsection figure figcaption {
    padding: unset;
}

.lastsection figure figcaption p {
    width: 300px;
    margin: 10px 0 0 0;
    text-align: left;
    color: #3e3f43;
    line-height: 15px;
}

.lastsection figure figcaption h3 {
    margin: 0;
    text-align: left;
    font-size: 1em;
    color: black;
}

.formulairesection{
    padding:100px;
}

.formulaire{
    max-width:1000px;
    max-width:700px;
    height:420px;
    margin:auto;
    display:flex;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 30px;
    font-family: "poppins";
    font-size: 0.7em;
    text-align: left;
}

.formulaire .partieg h3{
    margin:0;
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.4em;
}

.formulaire .partieg h4{
    margin-bottom: 20px;
    color: #8d8d8d;
}

.partied img{
    border-radius: 0px 20px 20px 0;
}

.partieg, .partied{
    width:50%;
}

.partieg{
    padding:50px;
}

.formulairesection h3,.formulairesection h2{
    text-align: center;
}

.formulairesection h2{
    color:#5e6282;
    font-family: "poppins";
    font-size: 0.9em;
}

.formulairesection h3{
    color:#14183e;
    font-family: "volkhov";
    font-size: 2em;
    margin:30px auto;
}

.block{
    display:block;
}

form div{
    margin-bottom: 20px;
    width:100%;
}

.nomprenom{
    display:flex;
    margin:0;
}

.nom, .prenom{
    width:49%;
}

input{
    width:100%;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid silver;
    padding:0 0 5px;
    outline:0;
    font-size: 0.9em;
}

input:focus{
    border-bottom: 1px solid #007aff;
}

.nom{
    margin-right: 15px;
}

.contactbutton{
    display: flex;
    margin:0;
    padding:10px 15px;
    background-color: #007aff;
    color:white;
    border-radius: 5px;
    transition:0.2s;
}

.contactbutton img{
    margin-right: 5px;
}

.contactbutton{
    border-style: none;
    box-shadow: 0px 20px 35px 0.1px silver;
    cursor: pointer;
    transition:0.2s;
    margin-top: 40px;
}

form{
    text-align: center;
}

form div{
    text-align: left;
}
.contactbutton:hover{
    transform: scale(1.10);
}

footer{
    display: flex;
    padding:50px 10% 5px;
    background-color: #f3f3f3;
    justify-content: space-around;
    flex-wrap: wrap;
    color:#5e6282;
    font-family: "poppins";
    font-size: 0.8em;
}

ul{
    list-style-type: none;
}

.footer1, .footer2, .footer3{
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px 0px 25px;
    width:300px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.footer1{
    justify-content: flex-start;
}

.footer1 p{
    margin-top: 25px;
    line-height: 20px;
    font-size: 1em;
    margin-right: unset;
    color:#5e6282;
}

.footer1 img{
width:unset;
height: 40px;
object-fit: unset;
margin-right: 15px;
}

.footer2{
    line-height: 25px;
}

.footer2 a{
    text-decoration: none;
    color:#5e6282;
}

.footer2 a:hover{
    text-decoration: underline;
}

.footer2 span{
    margin-left: 30px;
    font-size: 0.8em;
    margin-top: 40px;
}

.footer2 ul li:first-child{
    font-weight: bold;
    color:black;
    margin-bottom: 20px;
    font-size: 1.3em;
}


.footer3 img{
    object-fit: unset;
    width: unset;
    height:25px;
    line-height: 20px;
}

.footer3>span{
    height: 20px;
    width:100%;
    margin: 20px 0;
}

.footer3 button{
    border-radius: 20px;
    background-color: black;
    padding:0 20px;
    box-shadow: unset;
    border:none;
    height:30px;
    min-width: 110px;
    cursor:pointer;
    transition:0.3s;
    
}

.footer3 button:hover{
    transform:scale(1.1);
    
}

.footer3 button span{
    color:white;
    vertical-align: middle;
    font-size: 0.6em;
}

.footer3 button img{
    vertical-align: middle;
    height:unset;
    width: 13px;
    height:20px;
    margin-right: 5px;
}

.droits{
    width: 100%;
    text-align: center;
    margin-top: 51px;
}


.footer1 img:first-child:hover{
    animation: logo-animation 0.5s ease-in;
}