* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 10% 50px 10% 30% 110px 100px 100px 120px auto;
    grid-template-areas: ". logo logo2 . nouv dec comm cont .";
    grid-template-rows: 50px;
    font-family: "poppins";
    position: sticky;
    top: 0;
}

#logo {
    grid-area: logo;
    padding: 8px;
}

#logo:hover {
    animation: logo-animation 0.5s ease-in;
}

@keyframes logo-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.Jadoo {
    grid-area: logo2;
    line-height: 0px;
}

.Nouv {
    grid-area: nouv;
}

.Dec {
    grid-area: dec;
}

.Comm {
    grid-area: comm;
}

.Cont {
    grid-area: cont;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.85em;
    margin: auto;
}

.welcome {
    background-image: url(images/illustration_principale.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;
    object-fit: cover;
    padding: 100px;
}

h3 {
    color: rgb(223, 102, 89);
    font-size: 1.5em;
    font-family: "poppins";
    margin-bottom: 50px;
}

button {
    box-shadow: 0px 40px 30px 30px rgba(255, 196, 0, 0.1);
}

.welcome h1 {
    color: white;
    font-size: 5.4em;
    font-family: "volkhov";
}

p {
    color: silver;
    font-family: "poppins";
    line-height: 30px;
    margin-top: 30px;
}

.test {
    max-width: 565px;
}

.traitorange{
    background: url(images/souligne_rose.svg) no-repeat;
    display:block;
    background-position: bottom left;
    line-height: 70px;
}

.chefsection h1 span{
    background-size: 250px;
    line-height: 40px;
}

.button {
    background-color: #f1a501;
    padding: 15px 20px;
    font-family: "OpenSans";
    border-radius: 10px;
    border-style: none;
    margin-top: 60px;
    cursor: pointer;
}

.button:hover {
    
    transition: 0.2s;
    transform: scale(1.10);
}

.button a {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.test > img {
    position: relative;
    bottom: 30px;
}

.new {
    padding: 150px 10% 150px 10%;
    background: url("Images/decor_1.svg") no-repeat;
    background-position: top right;
    text-align: center;
}

.new h2 {
    font-family: "poppins";
    text-align: center;
    color: grey;
    font-size: 1.2em;
    width: 100%;
    flex: 1 0 100%;
}

.new h1 {
    text-align: center;
    margin: 20px 0 50px 0;
    font: 3em "volkhov";
    width: 100%;
    font-weight: bold;
}

figcaption {
    font-family: "poppins";
    border-radius: 0 0 20px 20px;
}

.new article {
    border-radius: 20px;
}

.new img {
    border-radius: 20px 20px 0 0;
}

.card1 {
    box-shadow: 0 0 16px #0000002e;
    width: 220px;
}

.titlerelou {
    width: 100%;
}

.card2 {
    width: 199px;
    margin-top: 100px;
    box-shadow: 0;
}

.cards-pict2 {
    padding: 0px 20px 20px 20px;
}

figcaption {
    padding: 20px;
    color: grey;
    text-align: center;
}

.boxcard1 {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.boxcard2 {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

*.card2 h3 {
    color: #494949;
    font-size: 1.1em;
}

.chefsection {
    background: url(images/illustration_chef.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    padding: 100px;
    position: relative;
    padding-bottom: 500px;
}

.video {
    border-radius: 20px;
    width: 250px;
}

.video img {
    border-radius: 20px;
}

.video > a > img {
    width: 70px;
    background-color: white;
    border-radius: 50px;
    position: relative;
    bottom: 105px;
    left: 90px;
}

.video > a > img:hover {
    transform: scale(1.25);
    transition: 0.5s;
}

.chefsection h1 {
    color: white;
    font-size: 3em;
    font-family: "volkhov";
    max-width: 700px;
}

.chefsection p {
    color: white;
    font-size: 0.8em;
    max-width: 400px;
}

.transiction {
    width: 65%;
    position: absolute;
    bottom: -300px;
    left: 0;
    white-space: nowrap;
}

.transiction img {
    width: 460px;
    margin-right: -4px;
}

.lastsection {
    background: url(images/illustration_commander.jpg);
    background-size: cover;
    padding: 400px 10% 100px;
}

.lastsection figure {
    display: flex;
}

.lastsection h3 {
    color: #5e6282;
}

.lastsection h2 {
    color: #14183e;
    width: 365px;
    font-size: 3em;
    font-family: "volkhov";
}

.lastsection h2 span {
    color: rgb(223, 102, 89);
}

.lastsection figure {
    width: 60px;
    height: 60px;
    margin: 40px;
    margin: 40px 0 0;
}

.lastsection figure img {
    margin-right: 20px;
}

.lastsection figure figcaption {
    padding: unset;
}

.lastsection figure figcaption p {
    width: 300px;
    margin: 10px 0 0 0;
    text-align: left;
    color: #3e3f43;
    line-height: 15px;
}

.lastsection figure figcaption h3 {
    margin: 0;
    text-align: left;
    font-size: 1em;
    color: black;
}
