.welcome h1{
    font-size: 2.5em;
}

.welcome{
    text-align: center;
    padding:10%;
}

.traitorange{
    background-size: 60%;
    background-position: 70% 80%;
}

.welcome p{
    margin-right: unset;
}

.boxcard {
    flex-direction: column;
}

.card1 {
    margin-bottom: 30px;
    margin-right: unset;
    position: absolute;
}

.new{
    background: unset;
}

.boxcard1 article{
    opacity:0;
}

.boxcard1 img:last-child{
    display:none;
}

.chefsection h1, .chefsection p{
    display:none;
}

.imgresponsive{
    display: block;
    width:100%;
}

.chefsection{
    background: none;
    padding:unset;
}

.chefsection img{
        display: block;
}

.video{
    width:unset;
}

.video img{
    border-radius: unset;
}

.video a{
    top:40%;
    left:45%;
}

.transiction{
    position:static;
    white-space: unset;
    width:100%;
}

.transiction img{
    width:100%;
    margin-right: unset;
}

.lastsection{
    background: none;
    padding:10%;
    text-align: center;
}

.lastsection h2{
    width: unset;
}

footer div{
    margin-bottom: 50px;
}

.formulairesection{
    padding: 5%;
}

@keyframes defilement1 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    2% {
        opacity: 1;
        transform: translateX(0);
    }

    33% {
        opacity: 1;
        transform: translateX(0);
    }

    35% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes defilement2 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    35% {
        opacity: 0;
        transform: translateX(50%);
    }

    37% {
        opacity: 1;
        transform: translateX(0);
    }

    66% {
        opacity: 1;
        transform: translateX(0);
    }

    68% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes defilement3 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    68% {
        opacity: 0;
        transform: translateX(50%);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }

    98% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.card1:first-child{
    animation: defilement1 20s linear infinite;
}

.card1:nth-child(2){
    animation: defilement2 20s linear infinite;
}

.card1:last-child{
    animation: defilement3 20s linear infinite;
}


.partied{
    display: none;
}

.partieg{
    width:100%;
    padding:0;
}

.formulaire{
    border-radius: unset;
    box-shadow: unset;
}

.partieg h3,
.partieg h4{
    text-align: center !important;
}


.nom,
.prenom{
    width:100%;
    margin-right: 0;
}

.nomprenom{
    flex-wrap: wrap;
}