nav a:nth-child(3),
nav a:nth-child(4),
nav a:nth-child(5),
nav a:nth-child(6){
    display:none;
}

nav{
    grid-template-columns: 2% 50px 100px auto 50px ;
    grid-template-areas: ". logo logo2 .  burger";
    grid-template-rows: 50px;
}

.burger{
    display:block;
}

.boxcard1{
    justify-content: space-around;
}