.welcome h1{
    font-size: 2.5em;
}

.welcome{
    text-align: center;
    padding:10%;
}

.traitorange{
    background-size: 60%;
    background-position: 70% 80%;
}

.welcome p{
    margin-right: unset;
}

.boxcard {
    flex-direction: column;
}

.card1 {
    margin-bottom: 30px;
    margin-right: unset;
    position: absolute;
}

.new{
    background: unset;
}

.boxcard1 img:last-child{
    display:none;
}

.chefsection h1, .chefsection p{
    display:none;
}

.imgresponsive{
    display: block;
    width:100%;
}

.chefsection{
    background: none;
    padding:unset;
}

.chefsection img{
        display: block;
}

.video{
    width:unset;
}

.video img{
    border-radius: unset;
}

.video a{
    top:40%;
    left:45%;
}

.transiction{
    position:static;
    white-space: unset;
    width:100%;
}

.transiction img{
    width:100%;
    margin-right: unset;
}

.lastsection{
    background: none;
    padding:10%;
    text-align: center;
}

.lastsection h2{
    width: unset;
}

footer div{
    margin-bottom: 50px;
}

.formulairesection{
    padding: 5%;
}